{% extends 'main.html' %}

{% block head %}
<style>
    ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: unset; 
        border-radius: unset;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:rgba(255, 255, 255, 0.48);
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:rgba(168, 168, 168, 0.48);
      }
</style>
{% endblock head %}
{% block body %}
<div class="mainHeader">
    <p>Journey Through Words:<br> <span class="ele1">Explore</span>, <span class="ele2">Learn</span>,<br> <span class="ele3">Grow</span></p><br><br>
    {% for i in hashes %}
        <a href="{% url 'APP:category' i.title %}"><span class="hashtags"># {{i.title}}</span></a> &nbsp;&nbsp;&nbsp;
    {% endfor %}
</div>
{% endblock body %}