{% extends 'main.html' %}

{% block head %}
{% load static %}
{% endblock head %}
{% block body %}
<div class="py-5">
    <div class="w-50 mx-auto">
        <div class="accordion" id="accordionExample">
            {% for i in data %}
                <div class="accordion-item" style="background-color:#151b23; border:solid 1px; border-radius:5px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button {% if not i.id == 1 %}collapsed{% endif %}" style="background-color:#151b23; border: solid 0px; border-radius:5px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{i.id}}" aria-expanded="{% if i.id == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{i.id}}">
                            <b class="bg-transparent" style="color:#4493F8">{{i.topics}}</b>
                        </button>
                    </h2>
                    <div id="collapse{{i.id}}" style="border:solid 0px; border-top-width:2px; border-color:none; border-top-color:#4493F8; color:#9198A1;" class="accordion-collapse collapse {% if i.id == 1 %}show{% endif %}" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="font-size:15px">
                            {{i.description}} <a href="{% url 'APP:information' i.id %}">click here</a>
                            <div>
                                <img src = "{% static 'open-book.png' %}" style="width:24px; height=24px">
                                <b>10 min read</b>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}